@page "/forgot-password/confirmation"
@model ForgotPasswordConfirmation
@{
  ViewData["Title"] = "Xác nhận quên mật khẩu";
}

<h1>@ViewData["Title"]</h1>
<p>
  Email đặt lại mật khẩu đã được gửi tới email của bạn. Hãy kiểm tra hòm thư và làm theo hướng dẫn
</p>