@page "reset-password"
@using IdentityProvider
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Localization
@model ResetPasswordModel
@inject IStringLocalizer<I18NResource> Localizer
@{
  ViewData["Title"] = Localizer["ResetPassword"];
}

<div class="d-flex justify-content-center mt-3">
  <div class="w-50">
    <h1>@ViewData["Title"]</h1>
    <hr/>
    <form method="post">
      <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
      <input asp-for="Input!.Code" type="hidden"/>
      <div>
        <calcite-label>
          Email
          <calcite-input name="Input.Email" scale="l" autocomplete="email" type="email"></calcite-input>
        </calcite-label>
        <span asp-validation-for="Input!.Email" class="text-danger"></span>
      </div>
      <div>
        <calcite-label>
          @Localizer["Password"]
          <calcite-input name="Input.Password" scale="l" type="password"></calcite-input>
        </calcite-label>
        <span asp-validation-for="Input!.Password" class="text-danger"></span>
      </div>
      <div>
        <calcite-label>
          @Localizer["ConfirmNewPassword"]
          <calcite-input name="Input.ConfirmPassword" scale="l" type="password"></calcite-input>
        </calcite-label>
        <span asp-validation-for="Input!.ConfirmPassword" class="text-danger"></span>
      </div>
      <div>
        <calcite-button kind="brand" scale="l" type="submit" width="full">@Localizer["ConfirmResetPassword"]</calcite-button>
      </div>
    </form>
  </div>
</div>

@section Scripts {
  <partial name="_ValidationScriptsPartial"/>
}