@page "reset-password/confirmation"
@using IdentityProvider
@using Microsoft.Extensions.Localization
@model ResetPasswordConfirmationModel
@inject IStringLocalizer<I18NResource> Localizer
@{
  ViewData["Title"] = Localizer["ResetPasswordConfirmation"];
}

<div class="d-flex justify-content-center mt-3">
  <div class="w-50">
    <h1>@ViewData["Title"]</h1>
    <p>@Html.Raw(string.Format(Localizer["ResetPasswordConfirmationMessage"], "/login"))</p>
  </div>
</div>