@page "/forgot-password"
@using IdentityProvider
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<I18NResource> Localizer
@model ForgotPasswordModel

@{
  ViewData["Title"] = Localizer["ForgotPassword"];
}

<div class="d-flex justify-content-center mt-3">
  <div class="w-50">
    <h1>@ViewData["Title"]</h1>
    <hr/>
    <section>
      <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div>
          <calcite-label>
            @Localizer["EnterYourEmail"]
            <calcite-input name="Input.Email" scale="l" autocomplete="email" placeholder="name@example.com" type="email"></calcite-input>
          </calcite-label>
          <span asp-validation-for="Input!.Email" class="text-danger"></span>
        </div>
        <div>
          <calcite-button kind="brand" scale="l" type="submit" width="full">@Localizer["ResetPassword"]</calcite-button>
        </div>
      </form>
    </section>
  </div>
</div>

@section Scripts {
  <partial name="_ValidationScriptsPartial"/>
}