@page "/forgot-password/confirmation"
@using IdentityProvider
@using Microsoft.Extensions.Localization
@model ForgotPasswordConfirmation
@inject IStringLocalizer<I18NResource> Localizer
@{
  ViewData["Title"] = Localizer["ForgotPasswordConfirmation"];
}

<div class="d-flex justify-content-center mt-3">
  <div class="w-50">
    <h1>@ViewData["Title"]</h1>
    <p>@Html.Raw(Localizer["ForgotPasswordConfirmationMessage"])</p>
  </div>
</div>